*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

body{
  margin-top: 70px;
  background-color: rgb(75, 49, 139);
  height:100vh;
  border: 5px solid black;
}

.head{
  background-color: rgb(26, 26, 26);
  height:70px;
  position:fixed;
  top: 0;
  left:0;
  padding: 20px 50px;
  width: 100%;
  z-index: 100;
  border: 5px solid rgb(205, 255, 214);
  display:flex;
  justify-content: space-between;
  
}

.logo  {
  color: azure;
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;

}

.nav a{
  text-decoration: none;
  color: azure;
  font-family: sans-serif;
  font-size: 18px;
  margin: 20px;
  font-weight: 500;
  border: 2px solid white;
}


.block1{
  background-color: rgb(218, 218, 218);
  border: 5px solid rgb(84, 176, 197);
  width:100%;
  height: 60vh;
  border-radius: 10px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;

}
.text {
  
  width:40%;
  border: 2px solid rgb(157, 5, 5);
}
.image img{
 border: 5px solid rgb(157, 5, 5);
 width: 400px;
 height: 400px;
 border-radius: 10px;

}